div{
  display: flex;

  align-items: center;
}
ul{
  margin-left: 40px;
}

a{
font-size: 40px;
font-weight: 600;
  color: black;
  text-decoration: none;
}

.div_imagen{
  /* background-color: aquamarine; */
  flex-direction: column;
}
#imagen{
  width: 200px;
  border-radius: 30px;
}
